$black: #000000;
$white: #ffffff;

// https://coolors.co/3083dc-e73a23-dcbf18-2fbf71-363537
$blue: #3083DC;
$red: #E73A23;
$yellow: #ECD346;
$green: #2FBF71;

// $black: var(--color-black);
// $white: var(--color-white);
// $blue: var(--color-blue);
// $red: var(--color-red);
// $yellow: var(--color-yellow);
// $green: var(--color-green);